@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  background: #121212;
  margin: auto;
}

:root {
  color: #dcd2cd;
  background-color: #000;
  transition: all 0.5;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.oswald-light {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: transform 0.5s;
  transform: translateY(-40px);
  line-height: 5.9rem;
}

.quicksand-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.nav-font {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.char1 {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.char2 {
  transform: translateY(115px);
  transition: transform 0.2s;
}

#target-1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
}

#target-2 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#target-4 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

::selection {
  background-color: #ffcc00; 
  color: #000000;
}

input::selection,
textarea::selection {
  background-color: #ffcc00; 
  color: #000000; 
}